n8n_patched_workflow.json
{
  "updatedAt": "2026-04-17T13:10:05.031Z",
  "createdAt": "2026-04-17T10:21:07.714Z",
  "id": "fhQyHZy64VscaQ8Q",
  "name": "ULTIMATE_RENDERFARM_PIPELINE",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "ai-renderfarm",
        "responseMode": "lastNode",
        "options": {
          "allowCors": true
        },
        "httpMethod": "POST"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "678458b8-5a63-47d2-b2ca-b555172c2618"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "renderfarm_outputs",
        "filters": {
          "conditions": [
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.task.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_message",
              "fieldValue": "Engine waken up. Formulating payload..."
            },
            {
              "fieldId": "progress",
              "fieldValue": "10"
            }
          ]
        }
      },
      "id": "telemetry-1",
      "name": "Init Telemetry",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SnwjYtEodTmtAspx",
          "name": "AI AUTO GEN SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst task = $json.body.task;\nconst proj = $json.body.project;\n\n// ===== SANITIZADOR DE LEGACY =========\n// Si el shot fue guardado ANTES del parche, todavia tendra la url incorrecta.\n// Lo interceptamos y esterilizamos aqui antes de hacer nada:\nif (task.modelId === 'fal-ai/flux-pro/v1.1/ultra') {\n    task.modelId = 'fal-ai/flux-pro/v1.1-ultra';\n}\n// ======================================\n\nlet payload = { prompt: task.prompt };\nconst m = task.modelId;\n\n// 1. Inyecci\u00c3\u00b3n de Multimedia\nif (task.ref_image) payload.image_url = task.ref_image;\nif (task.ref_video) payload.video_url = task.ref_video;\n\n// 2. CONFIGURACION BASE POR DEFECTO (Si la web no enviara nada)\nif (m.includes('flux')) {\n    payload.output_format = 'jpeg';\n    payload.aspect_ratio = '16:9';\n    if(m.includes('pro')) payload.safety_tolerance = '5';\n}\nif (m.includes('seedance')) {\n    if (m.includes('video')) payload.resolution = '720p';\n    else payload.image_size = 'landscape_16_9';\n}\nif (m.includes('magic-image')) payload.image_size = 'landscape_16_9';\nif (m.includes('kling')) {\n    payload.duration = '5';\n    payload.aspect_ratio = '16:9';\n}\nif (m.includes('hunyuan')) {\n    payload.video_size = 'landscape_16_9';\n    payload.video_length = 129; \n}\nif (m.includes('ltx') || m.includes('minimax')) payload.resolution = '720p';\nif (m.includes('runway')) payload.ratio = '16:9';\nif (m.includes('luma')) payload.aspect_ratio = '16:9';\nif (m.includes('gemini') || m.includes('dalle') || m.includes('gpt') || m.includes('wan') || m.includes('ideogram') || m.includes('recraft')) {\n    if(m.includes('recraft')) payload.size = '1024x576';\n    else if(m.includes('ideogram')) payload.aspect_ratio = '16:9';\n    else payload.image_size = 'landscape_16_9';\n}\n\n// 3. OVERRIDE MAESTRO WEB (El usuario tiene el control supremo)\nif (task.settings && typeof task.settings === 'object') {\n    Object.keys(task.settings).forEach(key => {\n        if(task.settings[key] !== undefined && task.settings[key] !== '') {\n            if(task.settings[key] === 'true') payload[key] = true;\n            else if(task.settings[key] === 'false') payload[key] = false;\n            else if (!isNaN(Number(task.settings[key])) && key !== 'ratio' && key !== 'aspect_ratio' && key !== 'resolution') {\n                payload[key] = Number(task.settings[key]);\n            } else {\n                payload[key] = task.settings[key];\n            }\n        }\n    });\n}\n\nreturn {\n    task_id: task.id,\n    modelId: task.modelId, // Enviamos el modelo sanitizado a n8n\n    kind: task.kind || 't2i',\n    payload: payload,\n    project: proj ? proj.title : 'FREESTYLE',\n    fileName: `${task.id}_${Date.now()}`\n};\n"
      },
      "id": "prepare-payload",
      "name": "Format Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "renderfarm_outputs",
        "filters": {
          "conditions": [
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ $json.task_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_message",
              "fieldValue": "=Summoning {{ $json.modelId }}..."
            },
            {
              "fieldId": "progress",
              "fieldValue": "30"
            }
          ]
        }
      },
      "id": "telemetry-2",
      "name": "Telemetry Generating",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SnwjYtEodTmtAspx",
          "name": "AI AUTO GEN SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fal.run/{{ $json.modelId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "fal-ai-execute",
      "name": "FAL.AI Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3cSSMgWyYAXVZTf3",
          "name": "FAL_AI_CORRECTED_KEY"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst src = $input.item.json;\nlet outputUrl = null;\n\n// L\u00c3\u00b3gica de trampa multi-modelo (La Biblia):\nif (src.images && src.images.length > 0) outputUrl = src.images[0].url;\nelse if (src.video && src.video.url) outputUrl = src.video.url;\nelse if (src.url) outputUrl = src.url;\nelse if (src.data && src.data.url) outputUrl = src.data.url;\nelse if (src.file && src.file.url) outputUrl = src.file.url;\nelse if (src.outputs && src.outputs.length > 0 && typeof src.outputs[0] === 'string') outputUrl = src.outputs[0];\n\nif(!outputUrl) {\n   // Dump para debugear\n   throw new Error('Fal.ai response structure unknown: ' + JSON.stringify(src));\n}\n\nconst prev = $node['Format Builder'].json;\n\nreturn {\n    ...prev,\n    generated_url: outputUrl\n};\n"
      },
      "id": "extract-result",
      "name": "Extract Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "renderfarm_outputs",
        "filters": {
          "conditions": [
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ $json.task_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_message",
              "fieldValue": "Artwork generated! Downloading HQ..."
            },
            {
              "fieldId": "progress",
              "fieldValue": "60"
            }
          ]
        }
      },
      "id": "telemetry-3",
      "name": "Telemetry Downloading",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SnwjYtEodTmtAspx",
          "name": "AI AUTO GEN SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.generated_url }}",
        "responseFormat": "file",
        "options": {
          "fileName": "={{ $json.fileName + ($json.kind.includes(\"v\") ? \".mp4\" : \".png\") }}"
        }
      },
      "id": "download-hq",
      "name": "Download HQ Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "={{ $json.fileName + ($json.kind.includes(\"v\") ? \".mp4\" : \".png\") }}",
        "parents": [
          "1T6XoLgrwgpGINA3Vkfg2dzfJ9lPKmihV"
        ],
        "options": {}
      },
      "id": "drive-upload",
      "name": "Upload HQ to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1600,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vcK90pZBlKAYi3NY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "output": 0,
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $node[\"Format Builder\"].json.kind }}",
                    "operation": "notContains",
                    "value2": "v"
                  }
                ]
              }
            },
            {
              "output": 1,
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $node[\"Format Builder\"].json.kind }}",
                    "operation": "contains",
                    "value2": "v"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "switch-asset-type",
      "name": "Switch Asset Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "border",
        "fileName": "data",
        "options": {
          "format": "WebP"
        }
      },
      "id": "optimize-image",
      "name": "Optimize WebP",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "renderfarm_outputs",
        "filters": {
          "conditions": [
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Format Builder\"].json.task_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_message",
              "fieldValue": "Completed! Storage synced."
            },
            {
              "fieldId": "progress",
              "fieldValue": "100"
            },
            {
              "fieldId": "status",
              "fieldValue": "ready"
            },
            {
              "fieldId": "hq_url",
              "fieldValue": "={{ $node[\"Upload HQ to Drive\"].json.webViewLink }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $node[\"Extract Result\"].json.generated_url }}"
            },
            {
              "fieldId": "thumbnail_url",
              "fieldValue": "={{ $node[\"Format Builder\"].json.kind.includes('v') ? $node[\"Upload HQ to Drive\"].json.webViewLink : 'https://nangyrlyayskchsjqymn.supabase.co/storage/v1/object/public/assets/' + $node[\"Format Builder\"].json.fileName + '.webp' }}"
            }
          ]
        }
      },
      "id": "telemetry-5",
      "name": "Final Telemetry",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2400,
        100
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SnwjYtEodTmtAspx",
          "name": "AI AUTO GEN SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://nangyrlyayskchsjqymn.supabase.co/storage/v1/object/assets/' + $node['Format Builder'].json.fileName + '.webp' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hbmd5cmx5YXlza2Noc2pxeW1uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxODk2OTksImV4cCI6MjA5MTc2NTY5OX0.EgRAIjDwd959i1kjZybwadN9gSRsd7Qyk6xixrhq6j0"
            },
            {
              "name": "Content-Type",
              "value": "image/webp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "binary",
        "inputDataFieldName": "data"
      },
      "id": "upload-webp-supabase",
      "name": "Upload WebP to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2200,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Init Telemetry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Telemetry": {
      "main": [
        [
          {
            "node": "Format Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Builder": {
      "main": [
        [
          {
            "node": "Telemetry Generating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telemetry Generating": {
      "main": [
        [
          {
            "node": "FAL.AI Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAL.AI Engine": {
      "main": [
        [
          {
            "node": "Extract Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Result": {
      "main": [
        [
          {
            "node": "Telemetry Downloading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telemetry Downloading": {
      "main": [
        [
          {
            "node": "Download HQ Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download HQ Binary": {
      "main": [
        [
          {
            "node": "Upload HQ to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload HQ to Drive": {
      "main": [
        [
          {
            "node": "Switch Asset Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Asset Type": {
      "main": [
        [
          {
            "node": "Optimize WebP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Telemetry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimize WebP": {
      "main": [
        [
          {
            "node": "Upload WebP to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload WebP to Supabase Storage": {
      "main": [
        [
          {
            "node": "Final Telemetry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-04-17T10:58:15Z"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "4e0f30b9-2504-41b0-9af9-54f377803c82",
  "activeVersionId": "4e0f30b9-2504-41b0-9af9-54f377803c82",
  "versionCounter": 43,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-17T10:21:07.716Z",
      "createdAt": "2026-04-17T10:21:07.716Z",
      "role": "workflow:owner",
      "workflowId": "fhQyHZy64VscaQ8Q",
      "projectId": "OgocM0oWKhEWKpug",
      "project": {
        "updatedAt": "2026-04-12T21:40:47.078Z",
        "createdAt": "2026-04-12T21:40:41.104Z",
        "id": "OgocM0oWKhEWKpug",
        "name": "Nathanael Sebastian Keresztesy <sebastiankeresztesy@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "45aaccaa-551b-4860-bbdb-4f0df5f61c31"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-17T13:10:05.032Z",
    "createdAt": "2026-04-17T13:10:05.032Z",
    "versionId": "4e0f30b9-2504-41b0-9af9-54f377803c82",
    "workflowId": "fhQyHZy64VscaQ8Q",
    "nodes": [
      {
        "parameters": {
          "path": "ai-renderfarm",
          "responseMode": "lastNode",
          "options": {
            "allowCors": true
          },
          "httpMethod": "POST"
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "webhookId": "678458b8-5a63-47d2-b2ca-b555172c2618"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "renderfarm_outputs",
          "filters": {
            "conditions": [
              {
                "keyName": "task_id",
                "condition": "eq",
                "keyValue": "={{ $json.body.task.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status_message",
                "fieldValue": "Engine waken up. Formulating payload..."
              },
              {
                "fieldId": "progress",
                "fieldValue": "10"
              }
            ]
          }
        },
        "id": "telemetry-1",
        "name": "Init Telemetry",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          200,
          0
        ],
        "credentials": {
          "supabaseApi": {
            "id": "SnwjYtEodTmtAspx",
            "name": "AI AUTO GEN SUPABASE"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "\nconst task = $json.body.task;\nconst proj = $json.body.project;\n\n// ===== SANITIZADOR DE LEGACY =========\n// Si el shot fue guardado ANTES del parche, todavia tendra la url incorrecta.\n// Lo interceptamos y esterilizamos aqui antes de hacer nada:\nif (task.modelId === 'fal-ai/flux-pro/v1.1/ultra') {\n    task.modelId = 'fal-ai/flux-pro/v1.1-ultra';\n}\n// ======================================\n\nlet payload = { prompt: task.prompt };\nconst m = task.modelId;\n\n// 1. Inyecci\u00c3\u00b3n de Multimedia\nif (task.ref_image) payload.image_url = task.ref_image;\nif (task.ref_video) payload.video_url = task.ref_video;\n\n// 2. CONFIGURACION BASE POR DEFECTO (Si la web no enviara nada)\nif (m.includes('flux')) {\n    payload.output_format = 'jpeg';\n    payload.aspect_ratio = '16:9';\n    if(m.includes('pro')) payload.safety_tolerance = '5';\n}\nif (m.includes('seedance')) {\n    if (m.includes('video')) payload.resolution = '720p';\n    else payload.image_size = 'landscape_16_9';\n}\nif (m.includes('magic-image')) payload.image_size = 'landscape_16_9';\nif (m.includes('kling')) {\n    payload.duration = '5';\n    payload.aspect_ratio = '16:9';\n}\nif (m.includes('hunyuan')) {\n    payload.video_size = 'landscape_16_9';\n    payload.video_length = 129; \n}\nif (m.includes('ltx') || m.includes('minimax')) payload.resolution = '720p';\nif (m.includes('runway')) payload.ratio = '16:9';\nif (m.includes('luma')) payload.aspect_ratio = '16:9';\nif (m.includes('gemini') || m.includes('dalle') || m.includes('gpt') || m.includes('wan') || m.includes('ideogram') || m.includes('recraft')) {\n    if(m.includes('recraft')) payload.size = '1024x576';\n    else if(m.includes('ideogram')) payload.aspect_ratio = '16:9';\n    else payload.image_size = 'landscape_16_9';\n}\n\n// 3. OVERRIDE MAESTRO WEB (El usuario tiene el control supremo)\nif (task.settings && typeof task.settings === 'object') {\n    Object.keys(task.settings).forEach(key => {\n        if(task.settings[key] !== undefined && task.settings[key] !== '') {\n            if(task.settings[key] === 'true') payload[key] = true;\n            else if(task.settings[key] === 'false') payload[key] = false;\n            else if (!isNaN(Number(task.settings[key])) && key !== 'ratio' && key !== 'aspect_ratio' && key !== 'resolution') {\n                payload[key] = Number(task.settings[key]);\n            } else {\n                payload[key] = task.settings[key];\n            }\n        }\n    });\n}\n\nreturn {\n    task_id: task.id,\n    modelId: task.modelId, // Enviamos el modelo sanitizado a n8n\n    kind: task.kind || 't2i',\n    payload: payload,\n    project: proj ? proj.title : 'FREESTYLE',\n    fileName: `${task.id}_${Date.now()}`\n};\n"
        },
        "id": "prepare-payload",
        "name": "Format Builder",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          400,
          0
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "renderfarm_outputs",
          "filters": {
            "conditions": [
              {
                "keyName": "task_id",
                "condition": "eq",
                "keyValue": "={{ $json.task_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status_message",
                "fieldValue": "=Summoning {{ $json.modelId }}..."
              },
              {
                "fieldId": "progress",
                "fieldValue": "30"
              }
            ]
          }
        },
        "id": "telemetry-2",
        "name": "Telemetry Generating",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          600,
          -100
        ],
        "credentials": {
          "supabaseApi": {
            "id": "SnwjYtEodTmtAspx",
            "name": "AI AUTO GEN SUPABASE"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://fal.run/{{ $json.modelId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.payload) }}",
          "options": {}
        },
        "id": "fal-ai-execute",
        "name": "FAL.AI Engine",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          600,
          100
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "3cSSMgWyYAXVZTf3",
            "name": "FAL_AI_CORRECTED_KEY"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "\nconst src = $input.item.json;\nlet outputUrl = null;\n\n// L\u00c3\u00b3gica de trampa multi-modelo (La Biblia):\nif (src.images && src.images.length > 0) outputUrl = src.images[0].url;\nelse if (src.video && src.video.url) outputUrl = src.video.url;\nelse if (src.url) outputUrl = src.url;\nelse if (src.data && src.data.url) outputUrl = src.data.url;\nelse if (src.file && src.file.url) outputUrl = src.file.url;\nelse if (src.outputs && src.outputs.length > 0 && typeof src.outputs[0] === 'string') outputUrl = src.outputs[0];\n\nif(!outputUrl) {\n   // Dump para debugear\n   throw new Error('Fal.ai response structure unknown: ' + JSON.stringify(src));\n}\n\nconst prev = $node['Format Builder'].json;\n\nreturn {\n    ...prev,\n    generated_url: outputUrl\n};\n"
        },
        "id": "extract-result",
        "name": "Extract Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          800,
          100
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "renderfarm_outputs",
          "filters": {
            "conditions": [
              {
                "keyName": "task_id",
                "condition": "eq",
                "keyValue": "={{ $json.task_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status_message",
                "fieldValue": "Artwork generated! Downloading HQ..."
              },
              {
                "fieldId": "progress",
                "fieldValue": "60"
              }
            ]
          }
        },
        "id": "telemetry-3",
        "name": "Telemetry Downloading",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1000,
          -100
        ],
        "credentials": {
          "supabaseApi": {
            "id": "SnwjYtEodTmtAspx",
            "name": "AI AUTO GEN SUPABASE"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.generated_url }}",
          "responseFormat": "file",
          "options": {
            "fileName": "={{ $json.fileName + ($json.kind.includes(\"v\") ? \".mp4\" : \".png\") }}"
          }
        },
        "id": "download-hq",
        "name": "Download HQ Binary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1000,
          100
        ]
      },
      {
        "parameters": {},
        "id": "split-processing",
        "name": "Fork: Dual Storage",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1200,
          100
        ]
      },
      {
        "parameters": {
          "operation": "upload",
          "authentication": "oAuth2",
          "binaryData": true,
          "name": "={{ $json.fileName + ($json.kind.includes(\"v\") ? \".mp4\" : \".png\") }}",
          "parents": [
            "1T6XoLgrwgpGINA3Vkfg2dzfJ9lPKmihV"
          ],
          "options": {}
        },
        "id": "drive-upload",
        "name": "Upload HQ to Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1400,
          -100
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "vcK90pZBlKAYi3NY",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "rules": [
              {
                "output": 0,
                "conditions": {
                  "string": [
                    {
                      "value1": "={{ $json.kind }}",
                      "operation": "notContains",
                      "value2": "v"
                    }
                  ]
                }
              },
              {
                "output": 1,
                "conditions": {
                  "string": [
                    {
                      "value1": "={{ $json.kind }}",
                      "operation": "contains",
                      "value2": "v"
                    }
                  ]
                }
              }
            ]
          }
        },
        "id": "switch-asset-type",
        "name": "Switch Asset Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          1400,
          300
        ]
      },
      {
        "parameters": {
          "operation": "border",
          "fileName": "data",
          "options": {
            "format": "WebP"
          }
        },
        "id": "optimize-image",
        "name": "Optimize WebP",
        "type": "n8n-nodes-base.editImage",
        "typeVersion": 1,
        "position": [
          1600,
          200
        ]
      },
      {
        "parameters": {},
        "id": "merge-optimization",
        "name": "Merge Opt",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1800,
          300
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "renderfarm_outputs",
          "filters": {
            "conditions": [
              {
                "keyName": "task_id",
                "condition": "eq",
                "keyValue": "={{ $node[\"Format Builder\"].json.task_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status_message",
                "fieldValue": "Completed! Storage synced."
              },
              {
                "fieldId": "progress",
                "fieldValue": "100"
              },
              {
                "fieldId": "status",
                "fieldValue": "ready"
              },
              {
                "fieldId": "hq_url",
                "fieldValue": "={{ $node[\"Upload HQ to Drive\"].json.webViewLink }}"
              },
              {
                "fieldId": "url",
                "fieldValue": "={{ $node[\"Extract Result\"].json.generated_url }}"
              }
            ]
          }
        },
        "id": "telemetry-5",
        "name": "Final Telemetry",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2000,
          100
        ],
        "credentials": {
          "supabaseApi": {
            "id": "SnwjYtEodTmtAspx",
            "name": "AI AUTO GEN SUPABASE"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Init Telemetry",
              "type": "main",
              "index": 0
            },
            {
              "node": "Format Builder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Builder": {
        "main": [
          [
            {
              "node": "Telemetry Generating",
              "type": "main",
              "index": 0
            },
            {
              "node": "FAL.AI Engine",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FAL.AI Engine": {
        "main": [
          [
            {
              "node": "Extract Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Result": {
        "main": [
          [
            {
              "node": "Telemetry Downloading",
              "type": "main",
              "index": 0
            },
            {
              "node": "Download HQ Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download HQ Binary": {
        "main": [
          [
            {
              "node": "Fork: Dual Storage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fork: Dual Storage": {
        "main": [
          [
            {
              "node": "Upload HQ to Drive",
              "type": "main",
              "index": 0
            },
            {
              "node": "Switch Asset Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Asset Type": {
        "main": [
          [
            {
              "node": "Optimize WebP",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Opt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Optimize WebP": {
        "main": [
          [
            {
              "node": "Merge Opt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Opt": {
        "main": [
          [
            {
              "node": "Final Telemetry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload HQ to Drive": {
        "main": [
          [
            {
              "node": "Final Telemetry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nathanael Sebastian Keresztesy",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-17T13:10:05.295Z",
        "id": 106,
        "workflowId": "fhQyHZy64VscaQ8Q",
        "versionId": "4e0f30b9-2504-41b0-9af9-54f377803c82",
        "event": "activated",
        "userId": "45aaccaa-551b-4860-bbdb-4f0df5f61c31"
      },
      {
        "createdAt": "2026-04-17T13:10:05.195Z",
        "id": 105,
        "workflowId": "fhQyHZy64VscaQ8Q",
        "versionId": "4e0f30b9-2504-41b0-9af9-54f377803c82",
        "event": "deactivated",
        "userId": "45aaccaa-551b-4860-bbdb-4f0df5f61c31"
      }
    ]
  }
}