N8N_DRIVE_ORCHESTRATOR.json
{
  "name": "DRIVE_ORCHESTRATOR",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drive-upload",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-upload",
      "name": "Webhook Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "fileContent": "={{$binary.data}}",
        "name": "={{$binary.data.fileName}}",
        "parents": [
          "My Drive"
        ]
      },
      "id": "drive-upload",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        200,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vcK90pZBlKAYi3NY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "hq_url",
              "value": "={{ $json.webViewLink }}"
            },
            {
              "name": "ui_url",
              "value": "={{ $json.webViewLink }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-urls",
      "name": "Set URLs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "export-project",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-export",
      "name": "Webhook Export",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "binaryPropertyName": "data",
        "fileName": "={{$json.body.projectName}}_{{$json.body.section}}.zip"
      },
      "id": "compress-zip",
      "name": "Compression",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "fileContent": "={{$binary.data}}",
        "name": "={{$binary.data.fileName}}",
        "parents": [
          "My Drive"
        ]
      },
      "id": "drive-upload-zip",
      "name": "Google Drive Upload ZIP",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vcK90pZBlKAYi3NY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://nangyrlyayskchsjqymn.supabase.co/rest/v1/projects?name=eq.' + $node['Webhook Export'].json.body.projectName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hbmd5cmx5YXlza2Noc2pxeW1uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxODk2OTksImV4cCI6MjA5MTc2NTY5OX0.EgRAIjDwd959i1kjZybwadN9gSRsd7Qyk6xixrhq6j0"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hbmd5cmx5YXlza2Noc2pxeW1uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxODk2OTksImV4cCI6MjA5MTc2NTY5OX0.EgRAIjDwd959i1kjZybwadN9gSRsd7Qyk6xixrhq6j0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "export_url",
              "value": "={{ $json.webViewLink }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-supabase",
      "name": "Update Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        200
      ]
    }
  ],
  "connections": {
    "Webhook Upload": {
      "main": [
        [
          {
            "node": "Google Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload": {
      "main": [
        [
          {
            "node": "Set URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Export": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Google Drive Upload ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload ZIP": {
      "main": [
        [
          {
            "node": "Update Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}